
 .row.content {
      height: 1500px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }


    thead {
      background: #337ab7 !important;
      color: #ffffff !important;
      height: 58px !important;
    }

    .outer_div {
      background: #eee;
      margin-left: 28px;
    }

    .drop_cls {
      width: 600px;
      height: 40px;
      background: #ffffff;
    }

    .no_record {
      background: #337ab7;
      text-align: center;
      color: #ffff;
    }

    .new_div {
      margin-top: 43px;
    }


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }